extends layout
block link
  link(rel='stylesheet', type='text/css', href='/css/aboutus.css')
block content
  .main
    .header
      img(class="logo", src="/img/logo.jpeg")
      p(class="name") 兰亭书城
    ul(class="infos")
      li
        span(class="left") 官方微信
        span(class="right") bcydushu
      //- li
      //-   span(class="left") 官方微博
      //-   span(class="right") 带你去月光倾城的地方
      //- li
      //-   span(class="left") 官方网站
      //-   span(class="right") www.andylistudio.com
      li
        span(class="left") 客服电话
        span(class="right") 17379459575
      li
        span(class="left") 邮箱
        span(class="right") wangjitonghua@163.com
    .footer
      p 兰亭书城 版权所有
      p Copyright 2017-2018 andylistudio. All Rights Reserved.
          

