extends layout
block link
  link(rel='stylesheet', href='/css/notice.css')
block content
  p 1. 打开微信点击左上角的加号，选择添加朋友
  img(src="/img/notice1.jpg")
  p 2. 选择公众号
  img(src="/img/notice2.jpg")
  p 3. 搜索“月光倾城的工作室”
  img(src="/img/notice3.jpg")
  p 4. 点击“关注”
  img(src="/img/notice4.jpg")
