.container {
  padding: 10px;
}

p {
  margin: 0;
}

img {
  width: calc(100% + 20px);
  height: auto;
  margin-left: -10px;
  max-width: inherit !important;
}
ul, ol {
  padding-left: 24px;
}
h1, h2, h3 {
  padding-left: 4px;
  border-left: 2px solid #d15f11;
  line-height: 1em;
  margin-top: 10px;
  margin-bottom: 10px;
}