html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
  background-color: #fff;
}

h3 a {
  background-image: url(../img/right.png);
  background-repeat: no-repeat;
  background-size: auto 44%;
  background-position: 3% center;
  display: block;
  height: 2.4em;
  line-height: 2.4em;
  font-size: .84em;
  padding-left: 10%;
  margin: 0;
  color: #333333;
  text-decoration: none;
  font-weight: normal;
  border-bottom: 1px solid #cccccc;
}

h3.open a {
  background-image: url(../img/down.png);
}

h3.open {
  background: #dddddd;
}

h3.open+div+h3 {
  border-top: 1px solid #cccccc;
}

h3+div {
  padding: .6em;
}

h3+div>p {
  padding: 0;
  margin: 0;
}

h3+div>img {
  width: 100%;
  box-sizing: border-box;
  display: block;
  margin: .8em 0;
}
